{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>About {{ name }} and used Licenses</h1>
    <h2>About</h2>
    <p>
        This site is used to convert your aax files to mp3. You should only use it to convert files you own and where you
        know the activation bytes for the DRM. This site can help you guess it but it might not be 100% reliable.
    </p>
    <h2>Used Software</h2>
    <ul>
        {% for software in softwares %}
            <li>
                {% if "homepage" in software and (not is_none(software["homepage"])) %}
                    <a href="{{ software.get("homepage", "#") }}">{{ software.get("name", "") }}</a>
                {% else %}
                    <span>{{ software.get("name", "") }}</span>
                {% endif %}
                -
                <a href="{{ software.get("license_page", "#") }}"> {{ software.get("license", "#") }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}