{% extends "layout.html" %}
{% from 'macros.html' import AudiobookLine %}
{% block title %}Index{% endblock %}
{% block navitems %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">File</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/upload">Upload</a>
            <a class="dropdown-item" href="/save">Save converted</a>
        </div>
    </li>
{% endblock %}
{% block content %}
    <h1>Your AAX files</h1>
    <p class="lead">
        Here are your saved AAX files.
    </p>
    <ul class="list-group list-group-flush">
        {% if audiobooks %}
            <form method="post" action="/run">
                {% for audiobook in audiobooks %}
                    <li class="list-group-item">
                        <input type="checkbox"
                               class="force-foreground form-check-input convert-checkbox"
                                {% if audiobook.already_converted() %} disabled {% endif %}
                               id="convert_{{ audiobook.get_id() }}"
                               name="convert_{{ audiobook.get_id() }}"
                                {% if not audiobook.already_converted() and audiobook.get_activation_bytes() %}
                               checked {% endif %} onchange="handleClick(null)">
                        {{ AudiobookLine(audiobook, "convert_" + str(audiobook.get_id)) }}
                    </li>
                {% endfor %}
                <input type="submit" class="btn btn-primary mb-3 mt-3" id="run-conversions" name="run_selected"
                       value="Run selected conversions">
            </form>
        {% else %}
            <li class="list-group-item">
                No Audiobooks to convert yet. Please upload
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block add_scripts %}
    <script type="application/javascript">
        user_audiobooks = [
            {% if audiobooks %}
                {% for audiobook in audiobooks %}
                    "{{ audiobook.get_id() }}",
                {% endfor %}
            {% endif %}
        ]

        function handleClick() {

            user_audiobooks.forEach(element => {
                console.info("Element", "#activationbytes_" + element);
                let textbox_selector = "#activationbytes_" + element;
                if ($(textbox_selector)[0].value.length > 0) {
                    try {
                        $("#direct_convert_" + element).removeClass("disabled");
                    } catch (e) {
                    }
                    $("#convert_" + element).removeClass("disabled");
                } else {
                    try {
                        $("#direct_convert_" + element).addClass("disabled");
                    } catch (e) {
                    }
                    let checkbox = $("#convert_" + element);
                    checkbox.addClass("disabled");
                    checkbox.prop('checked', false);
                }
            })

            let count_checked = 0;
            $('.convert-checkbox').each(function (i, obj) {
                if (obj.checked) {
                    count_checked++;
                }
            });
            if (count_checked > 0) {
                $("#run-conversions").removeClass("disabled");
            } else {
                $("#run-conversions").addClass("disabled");
            }
        }

        $(document).ready(handleClick);
    </script>
{% endblock %}
