<!doctype html>
<html>
<head>
    {% block head %}
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Ein Converter um Audials-Dateien zu konvertieren">
        <meta name="author" content="Alexander Vollmer">
        <title>{{ name }} - {% block title %}Home{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">{{ name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                {% block navitems %}{% endblock %}
            </ul>
            <!--
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            -->
            <div class="my-2 my-lg-0 navbar-brand" id="queue-running-indicator" style="font-size: 1rem"></div>
            <div></div>
        </div>
    </nav>
</header>

<main role="main" class="container">

    <div class="main-content container">
        {% block content %}{% endblock %}
    </div>

    <script type="application/javascript">
        const Http = new XMLHttpRequest();

        function checkQueueRunning() {
            console.info("Getting data from /queue/status?simple")
            const url = '/queue/status?simple';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                if (Http.responseText.length > 0) {
                    console.log("----------Queue-Status-Check-start-----------")
                    console.log(e)
                    console.info("Queue-Status", Http.responseText)
                    if (Http.responseText === "1") {
                        $("#queue-running-indicator").text("Conversion-Queue is currently running");
                    } else {
                        $("#queue-running-indicator").text("Conversion-Queue is currently ideling");
                    }
                    console.log("----------Queue-Status-Check-finish----------")
                }
            }
        }

        checkQueueRunning();
        let t = setInterval(checkQueueRunning, 1000);
    </script>

    {% block add_scripts %}{% endblock %}

</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <a class="text-muted" href="about">License and About</a> - Version {{ version }}
    </div>
</footer>

</body>
</html>
